---
layout: default
---

<div class="home">

  <p>
    Hi. I am <a href='/about'>Nick</a>.
  </p>
  <p>
    I write code by day, and try to make it suck less by night.

    You can check out my latest musings below, or take a poke through the archive, tags, or categories to find some content you might be interested in.
  </p>

  <hr/>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="row">

        <div class="header">

          <h2 class="title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        </div>

        <p>
        {{ post.excerpt }}
        </p>

        <a class="button" href="{{post.url | prepend: site.baseurl }}">read more...</a>

      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
