.button {
	border: 1px solid $grey-color-medium;
	background: $grey-color-light;
	padding: 2px 10px;

	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

	background-image: linear-gradient(to bottom, $grey-color-xtra-light, $grey-color-light);
	color: $grey-color-dark;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	font-size: $small-font-size;
}

.button:hover {
	background: $grey-color-light;
	background-image: linear-gradient(to bottom, $grey-color-light, $grey-color-light);
	text-decoration: none;
}

.tags, .categories {
	ul {
		list-style: none;
		display: block;
		li {
			display: inline-block;
			margin: 5px;
		}
	}

	a {
		padding: 3px 6px;
	    margin: 2px;
	    background: $grey-color-light;
	    color: $grey-color-dark;
	    border-radius: 3px;
	    text-decoration: none;
	    border: 1px dashed $grey-color-dark;
	    font-size: $small-font-size;
	}
}

.copyright {
	text-align: center;
	font-size: $small-font-size;
	color: $grey-color-medium;
}

.post-nav {
	margin: $spacing-unit 0px;

	ul {
		list-style: none;
		display: block;
		margin: 0px;

		li {
			display: inline-block;
			margin: 0px;
		}
	}
}

.prettyprint code {
	color: white;
    background: none;
}

.table-bordered{
	border:1px solid $grey-color-medium;
	border-collapse:separate;
	*border-collapse:collapse;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

table {
	max-width:100%;
	background: $grey-color-xtra-light;
	border-collapse:collapse;
	border-spacing:0;

	tr:nth-child(odd) {
		background-color: $grey-color-light;
	}

	th, td {
		padding:8px;
		line-height:20px;
		text-align:left;
		vertical-align:top;
		border-bottom:1px solid $grey-color-medium;
		border-right:1px solid $grey-color-medium;
	}

	th {
		font-weight: bold;
	}

	tr:hover {
		background-color: $grey-color-medium;
	}

}


