---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1>Archive of posts from {{ page.date | date: "%Y" }}</h1>
	</header>

	<ul class="months">
		{% assign first = true %}
		{% assign lastmonth = '' %}
		{% for post in page.posts %}
			{% assign month = post.date | date: "%B" %}
			{% if lastmonth != month %}
				{% if first %}
					<li class="month">{{ month }} <ul>
					{% assign first = false %}
				{% elsif month != lastmonth %}
					</ul></li><li class="month">{{ month }} <ul>
				{% endif %}
			{% endif %}
			{% assign lastmonth = post.date | date: "%B" %}

				  <li>
				    <span class="post-date">{{ post.date | date: "%d" }} &raquo;</span>
				    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				  </li>

		{% endfor %}
		</ul></li>
	</ul>

</div>
