---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-nav">
  	<ul>
	  {% if page.previous.url %}
	    <li>
	    	<a class="button prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	    </li>
	  {% endif %}
	  {% if page.previous.url or page.next.url %}
	  	<li>
	    	<a class="button archive" href="/archive/">Archive</a>
	    </li>
	  {% endif %}
	  {% if page.next.url %}
	    <li>
	    	<a class="button next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	    </li>
	  {% endif %}
	</ul>
  </div>

</div>
